extends base.pug

block title
    title ChatOn Login

block scripts
    
block link
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Crimson+Text&family=Merriweather&family=Merriweather+Sans:wght@300&display=swap")
    link(rel="icon" type="image/png" href="../static/img/logo.png")
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    
block style
    style
        include ../static/login.css

block content
    
    div.container
        div.left
            a(style="text-decoration:none" href="/")#logo
                img(src="../static/img/logo.png", alt="ChatOn Logo")
                h1 ChatOn
            p Connect with friends and the world around you on ChatOn.
        
        div.right
            form(action="/chat" method='get')
                input(type="text" name="username" placeholder="Enter Your Name" required autocomplete="off")
                input(type="text", name="room" placeholder="Enter Room ID" required autocomplete="off")

                //- a(style="text-decoration: none" href="/chat")
                //- input(id="chatbutton" type="button", value="Join chat")
                button(id="chatbutton") Join Chat
        

    a(style="text-decoration:none" href="/") 
        input(class="home" type="button", value="Back to Home")

