    *{

    margin: 0;
    padding: 0;

}

body{

    background: rgb(236, 236, 236);
    
}

.container{

    display: flex;
    /* column-gap: -3%; */
    /* justify-content: space-evenly; */

}

.left{
    margin: 8.41vw 0 0 5.85vw;
}

#logo{

    display: flex;
    user-select: none;
    align-items: center;
    margin: 3.66vw 3.66vw 1.46vw;
    cursor: pointer;

}

#logo img{

    width: 10.39vw;
    height: 9.66vw;
    filter: contrast(100);

}

#logo h1{
    font-family: 'Merriweather', serif;
    align-self: center;
    font-size: 7.32vw;
    margin-left: 1.83vw;
    color: rgb(120, 0, 145);
    letter-spacing: 0.2vw;
}

.left p{

    font-family: 'Crimson Text', serif;
    font-size: 2.34vw;
    width: 75%;
    margin-left: 4.39vw;
    color: rgb(53, 53, 53);
    line-height: 3vw;
    text-align: left;

}


.right{

    background-color: white;
    /* border: 2px solid black; */
    align-self: center;
    padding: 2.19vw;
    margin: 10.68vw 10.17vw 0 0;
    width: 25%;
    border-radius: 0.73vw;
    box-shadow: 0 0 1.09vw grey;
    
}

.right input{

    font-family: 'Crimson Text', serif;
    font-size: 1.6vw;
    letter-spacing: 0.03vw;
    display: block;
    outline: none;
    padding: 0.58vw;
    margin: 1.46vw 0;
    border: 0.10vw solid rgb(120, 0, 145);
    border-radius: 0.36vw;
    color: rgb(53, 53, 53);
    box-shadow: 0 0 0.18vw rgba(121, 0, 145, 0.596);

}

.right form input{
    width: 94%;
}

#chatbutton, .home{

    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 1.46vw;
    font-weight: bold;
    letter-spacing: 0.14vw;
    text-transform: uppercase;
    border: none;
    border-radius: 7.32vw;
    outline: none;
    line-height: 0;
    padding: 2.19vw 1.46vw 1.39vw;
    background-color: rgb(120, 0, 145);
    color: white;
    transition-duration: 0.2s;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: block;
    margin: auto;
    margin-top: 2.19vw;
    margin-bottom: 0.36vw;
    box-shadow: 0 0 0.18vw rgba(121, 0, 145, 0.596);

}

#chatbutton:hover, .home:hover{

    background-color: rgb(71, 0, 85);

}

.home{

    display: block;
    margin: 10.9vw auto 0;

}





/* -------------------------------------------------------------------------------------------------------------------- */
/* Media Queries */
/* -------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) and (orientation:portrait){
    

    .container{
        display: block;
    }

    .left{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:10vh 0 ;
        padding: 0;
    }


    #logo img{
        width: 110px;
        height: 110px;
    }


    .left p{
        font-size: 2.5rem;
        line-height: 50px;
        text-align: center;
    }

    .right{
        width: 550px;
        height: 300px;
        display: block;
        margin: auto;
        border-radius: 20px;
    }

    .right input{
        margin: 2vw 1vw;
        font-size: 2rem;
        border-radius: 8px;
    }

    #chatbutton, .home{
        margin-top: 50px;
        font-size: 2rem;
        padding: 40px 40px 22px;

    }

    .home{
        margin: 300px auto 0;
    }

}


@media screen and (max-width: 768px) and (orientation:portrait){

    .container{
        display: block;
    }

    .left{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:10vh 0 ;
        padding: 0;
    }

    #logo img{
        width: 100px;
        height: 100px;
    }

    .left p{
        font-size: 2.5rem;
        line-height: 35px;
        text-align: center;
    }

    .right{
        width: 450px;
        height: 250px;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .right input{
        margin: 2vw 1vw;
        font-size: 2rem;
        border-radius: 8px;
    }

    #chatbutton, .home{
        margin-top: 50px;
        font-size: 1.8rem;
        padding: 35px 30px 18px;

    }

    .home{
        margin: 180px auto 0;
    }

}





@media screen and (max-width: 414px) and (orientation:portrait){

    .container{
        display: block;
        /* height: 55vh; */
    }

    .left{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:10vh 0 ;
        padding: 0;

    }


    #logo img{
        width: 65px;
        height: 62px;
    }

    #logo h1{
        font-size: 10vw;
    }

    .left p{
        font-size: 1.5rem;
        line-height: 24px;
        text-align: center;
    }

    .right{
        width: 350px;
        height: 210px;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .right input{
        margin: 3vw 1.4vw;
        font-size: 1.5rem;
        border-radius: 8px;
    }

    #chatbutton, .home{
        margin-top: 40px;
        font-size: 1.4rem;
        padding: 30px 30px 18px;

    }

    .home{
        margin: 140px auto 0;
    }

}


@media screen and (max-width: 375px) and (orientation:portrait){

    .container{
        display: block;
    }

    .left{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:8vh 0 ;
        padding: 0;

    }

    #logo img{
        width: 60px;
        height: 60px;
    }

    #logo h1{
        font-size: 2.5rem;
    }

    .left p{
        font-size: 1.5rem;
        line-height: 25px;
        text-align: center;
    }

    .right{
        width: 300px;
        height: 200px;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .right input{
        margin: 3vw 1.4vw;
        font-size: 1.4rem;
        border-radius: 8px;
    }

    #chatbutton, .home{
        margin-top: 45px;
        font-size: 1.4rem;
        padding: 28px 20px 15px;

    }

    .home{
        margin: 100px auto 0;
    }

}


@media screen and (max-width: 375px) and (min-height: 812px) and (orientation:portrait){

    .container{
        display: block;
    }

    .left{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:10vh 0 ;
        padding: 0;

    }

    #logo img{
        width: 60px;
        height: 60px;
    }

    #logo h1{
        font-size: 2.5rem;
    }

    .left p{
        font-size: 1.5rem;
        line-height: 3.5vh;
        text-align: center;
    }

    .right{
        width: 300px;
        height: 200px;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .right input{
        margin: 3vw 1.4vw;
        font-size: 1.3rem;
        border-radius: 8px;
    }

    #chatbutton, .home{
        margin-top: 50px;
        font-size: 1.4rem;
        padding: 28px 30px 15px;

    }

    .home{
        margin: 160px auto 0;
    }

}


@media screen and (max-width: 360px) and (orientation:portrait){

    .container{
        display: block;
    }

    .left{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:10vh 0 ;
        padding: 0;

    }

    #logo img{
        width: 50px;
        height: 50px;
    }

    #logo h1{
        font-size: 2.2rem;
    }

    .left p{
        font-size: 1.4rem;
        line-height: 22px;
        text-align: center;
    }

    .right{
        width: 80vw;
        height: 28vh;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .right input{
        margin: 3vw 1.4vw;
        font-size: 1.4rem;
        border-radius: 8px;
        height: 30px;
    }

    #chatbutton, .home{
        margin-top: 30px;
        font-size: 1.2rem;
        padding: 25px 20px 15px;

    }

    .home{
        margin: 120px auto 0;
    }

}


@media screen and (max-width: 320px) and (orientation:portrait){

    .container{
        display: block;
    }

    .left{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:10vh 0 ;
        padding: 0;

    }

    #logo img{
        width: 50px;
        height: 50px;
    }

    #logo h1{
        font-size: 2rem;
    }

    .left p{
        font-size: 1.2rem;
        line-height: 20px;
        text-align: center;
    }

    .right{
        width: 270px;
        height: 180px;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    .right input{
        margin: 3vw 1.4vw;
        font-size: 1.2rem;
        border-radius: 8px;
    }

    #chatbutton, .home{
        margin-top: 40px;
        font-size: 1.1rem;
        padding: 22px 15px 12px;

    }

    .home{
        margin: 90px auto 0;
    }

}

